---
const { title = 'Untitled' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-900 text-white px-4 py-6">
    <main class="max-w-4xl mx-auto">
      <slot />
    </main>
  </body>
</html>
