---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">Statement of Intent</h1>
	<div class="prose prose-citrus max-w-none">
        <p>This site was born out of a concrete need: to make visible certain practices that are too often ignored or minimized in the restaurant industry.</p>
      
        <p>I’ve worked in various restaurants across Stockholm, Malmö, Berlin, and Hamburg. Different places, different settings, but the same patterns repeated: missing contracts, undeclared hours, partial or delayed salaries, and silence when raising concerns. And always, that same discreet, almost cultural contempt towards certain roles, certain people, certain presences.</p>
      
        <p>I don’t believe employers act with harmful intent. But in this environment of constant turnover and urgent shifts, formalities become secondary, and those who ask questions are seen as a problem. It’s less about malice than about a structured indifference, built on the devaluation of so-called “lower” positions.</p>
      
        <p>This site puts words to these situations. It brings them to light. It reveals the mechanisms—conscious or not—that lead to abuse. But more importantly, it offers tools.</p>
      
        <p>Here you’ll find concrete strategies, legal tactics, letter templates, practical advice, and ways to resist suffocation. The aim is not to accuse. The aim is to build a possible response, grounded in law and in a better understanding of the systems at play.</p>
      
        <p>I speak to those who have no union, no lawyer, no stable housing. To those who simply want to demand what they are owed. No more, but no less. This is about equipping ourselves—legally, mentally, strategically.</p>
      
        <p>By publishing, we create leverage. We don’t threaten anyone, but we restore balance. We make visible what is usually silenced. And if that creates discomfort, maybe the silence had gone on for too long.</p>
      

		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="citrus-link inline-block"
				href="https://github.com/artemkutsan/astro-citrus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>

</PageLayout>
