---
interface Props {
  type?: "default" | "info" | "success" | "warning" | "danger";
  label: string;
}

const { type = "default", label } = Astro.props;

const classes = {
  default: "text-gray-800 bg-gray-100",
  info: "text-blue-800 bg-blue-100",
  success: "text-green-800 bg-green-100",
  warning: "text-yellow-800 bg-yellow-100",
  danger: "text-red-800 bg-red-100",
}[type];
---

<span
  class={`inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium ${classes}`}
>
  {label}
</span>
